<footer>
    <div class="container">
        <div class="first-row">
            <div class="first-row__text">find me:</div>
            <div><img src="../../../assets/social/twiter.svg" alt="Twiter"></div>
            <div><img src="../../../assets/social/facebook.svg" alt="Facebook"></div>
        </div>
        <div class="last-row">
            <div>
                @Varmelion
            </div>
            <div class="logo">
                <img src="../../../assets/social/gitHub.svg" alt="GitHub">
            </div>
        </div>
    </div>
</footer>
