
header {
    color: #607B96;
    font-size: 1em;
    border-bottom: 0.5px solid #1E2D3D;
}
.row {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;


    &__nav {
        width: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        nav {
            height: 3em;
            width: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            a {
                color: #607B96;
                text-decoration: none;
                border-right: 0.5px solid #1E2D3D;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            a:hover {
                color: white;
                border-bottom: 0.5px solid #FEA55F;
            }
        }
    }
 
}

.first-row {
    @extend .row;
    width: 20%;
    justify-content: flex-start;
    padding-inline-start: 1em;
    border-right: 0.5px solid #1E2D3D;
}

.last-row {
    @extend .row;
    width: 10%;
    border-left: 0.5px solid #1E2D3D;
    cursor: pointer;
}

.last-row:hover {
    color: white;
    border-bottom: 0.5px solid #FEA55F;
}